/* Notification Styles */
#notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    padding: 15px 25px;
    background-color: #28a745; /* Green for success */
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

    #notification.show {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    #notification.hide {
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s, transform 0.5s;
    }
